@import "../../Sass/Variables";

.Button {
	cursor: pointer;
	color: $bg-main-color;
	font-weight: $fw-Bold;
	border-radius: $border-rad;
	background: $btn-gradient;
	border: none;
	padding: 1rem 2rem;
}

@media only screen and (max-width: 400px) {
	.Button {
		padding: 0.75rem 1.25rem;
	}
}