@import "./../../Sass/Variables";

.Indication {
	width: 100%;
	display: flex;

	&_Block {
		width: 50%;
		display: flex;
		flex-flow: column;
	}

	&_Title {
		font-weight: $fw-Bold;
		font-size: $fs-xxxl;
	}

	&_Cont {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&_subTitle {
		font-size: $fs-xxxl;
	}

	&_Icon {
		font-size: 100px;
		color: $icon-color;
	}

	&_Text {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

@media only screen and (max-width: 950px) {
	.Indication {
		justify-content: center;


		&_Title {
			font-size: $fs-xl;
		}

		&_subTitle {
			font-size: $fs-xl;

		}

		&_Icon {
			font-size: 50px;
		}

		&_Text {
			font-size: $fs-xs;
		}
	}
}

@media only screen and (max-width: 400px) {
	.Indication {
		justify-content: center;

		&_Block {
			text-align: center;
		}

		&_Title {
			font-size: $fs-lg;
		}

		&_subTitle {
			font-size: $fs-lg;
		}

		&_Icon {
			display: none;
		}

		&_Text {
			display: none;
		}

		&_Cont {
			justify-content: center;
		}
	}
}