@import "./../../Sass/Variables";

.SectionTree {
	padding-block: 6rem;
	display: flex;
	flex-flow: column nowrap;
	gap: 6rem;

	&_Content {
		display: flex;
		gap: 6rem;
	}

	&_Wrapper {
		width: 50%;
		height: 500px;
		min-width: 500px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 240px 100px;
		overflow: hidden;

		&_Image {
			width: 100%;
			height: 100%;
			background-image: url("../../Assets/ContentImage/MenImage.png");
		}
	}

	&_Aside {
		display: flex;
		flex-flow: column nowrap;
		justify-content: space-evenly;

		button {
			align-self: flex-start;
		}
	}

	&_Title {
		font-size: $fs-xxxl;
	}

	&_SubTitle {
		font-size: $fs-xxxl;
		font-weight: $fw-Light;
	}
}

@media only screen and (max-width: 950px) {
	.SectionTree {
		gap: 3rem;

		&_Content {
			flex-flow: column nowrap;
			justify-content: center;
			align-items: center;
			gap: 3rem;
		}

		&_Wrapper {
			display: flex;
			min-width: 300px;
			height: 350px;
			border-radius: 140px 60px;
		}

		&_Aside {
			text-align: center;
			align-items: center;
			gap: 2rem;

			button {
				align-self: center;
			}
		}

		&_Text {
			text-align: justify;
		}
	}
}


@media only screen and (max-width: 400px) {
	.SectionTree {
		&_Title {
			display: none;
		}

		&_SubTitle {
			display: none;
		}
	}
}