@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import "./Sass/Variables";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	scroll-padding-top: 20px;

	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		//background-color: #F5F5F5;
	}

	&::-webkit-scrollbar {
		width: 12px;
		background-color: rgb(255, 255, 255, 0.3);
	}

	&::-webkit-scrollbar-thumb {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
		background-color: $icon-color;
	}
}

body {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

input,
textarea {
	outline: none;
	border: none;
}


#root {
	padding: 2rem;
	background-color: $bg-main-color;
	color: $text-color;
	background-image: url("./Assets/BackGroundLines/Hydra-Desktop.png");
	background-repeat: no-repeat;
}

@media only screen and (max-width: 900px) {
	#root {
		background-image: none;
	}
}

@media only screen and (max-width: 450px) {
	#root {
		overflow: hidden;
		background-image: url("./Assets/BackGroundLines/Hydra-Mobile.png");
		background-position: 0px -80px;
		padding: 1rem;
	}
}