@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');
@import "./Sass/Variables";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}


#root {
	padding: 2rem;
	background-color: $bg-main-color;
	color: $text-color;
}

@media only screen and (max-width: 400px) {
	#root {
		padding: 1rem;
	}
}